<% layout("/layouts/boilerplate") %>
    <h1>New camp site</h1>
    <!--This form will go campgrounds page-->
    <form action="/campgrounds" method="post">
        <div>
            <label for="title">Title</label>
            <input type="text" name="campground[title]" id="title">
        </div>

        <div>
            <label for="location">Location</label>
            <input type="text" name="campground[location]" id="location">
        </div>
        <button>Add A Compground</button>
    </form>
   